body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    margin: 0;
    padding: 0;
}

.top-nav {
    list-style-type: none;
    margin: 0 0 10 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

.top-nav li {
    float: left;
    margin: 0;
}

.top-nav li.login {
    float: right;
}

.top-nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li a:hover {
    color: orange;
}

.main-content {
    display: block;
}

#matches {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    margin: 5px 0px;
}

.weekNumber {
    padding: 0px;
    margin: 0px;
    height: 10px;
    font-size: 12px;
    color: gray;
}

.matchCurrentScore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.matchCurrentScore {
    font-weight: bold;
}

.matchDetails {
    font-size: 12px;
    color: gray;
}

.teamLogo {
    width: 40px;
    height: 40px;
}

.locationIndicator {
    padding: 5px;
    width: 50px;
}

/* LOGIN.HTML STYLING */

#login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 1px solid #555;
    padding-bottom: 20px;
}

#login-content label {
    padding: 10px 0px 0px 0px;
    font-weight: bold;
}

#login-content input {
    width: 300px;
    margin-top: 5px;
}

#loginBtn {
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

#loginBtn:hover {
    cursor: pointer;
}


/* FANTASY.HTML  */

#fantasy-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#fantasy-content > h1 {
    text-align: center;
}

#fantasy-content > a {
    text-decoration: none;
    margin-bottom: 20px;
}

#fantasy-content > a:visited {
    color: black;
}

.fantasy-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    border: 1px solid #777;
    height: 300px;
    align-items: center;
    text-align: center;
}

.fantasy-row > img {
    width: 400px;
    height: 100%;
}

.fantasy-row > h2 {
    margin: 20px 20px 20px 20px;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.fantasySpan {
    font-size: 36px;
    color: darkblue;
}


.hiddenJoinNow {
    display: none;
    width: 100%;
}

.fantasyText {
    display: block;
}


.fantasy-row:hover > .fantasyText {
    display: none;
}

.fantasy-row:hover > .hiddenJoinNow {
    display: block;
    color: darkblue;
}

.joinNowBtn {
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background-color: darkblue;
}

.joinNowBtn:hover {
    background-color: #fff;
    color: orange;
    border-color: orange;
}

.comingSoon {
    text-align: center;
}